/*GENERALE STYLES*/
body {
	font-family: Arial, San-Serif;
	font-size: 100%;
}
ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style-type: none;
}
* {
	text-decoration: none;
}
p {
    font-size: 13px;
    line-height: 1.3em;
}
.conteiner {
	margin: 0 auto;
	width: 960px;
}

/*HEADER*/
.header {
	padding: 50px 0px 8px 0;
	background-color: #e56c69;
}
.header h1, .header h2 {
	color: #fff;
	text-align: center;
}
.maimTitleText {
	padding: 0.2em 1em;
	border: 4px solid #fff;
	
  transition: all 1s;
  cursor: pointer;
  
}
.maimTitleText:hover {
      
    border-color: #777;
    color: #777;
  
}

.subTitleText {
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}
 
 /*NAVIGATION*/

 .page-navigation {
 	background-color: #414141;
 	border-color: #9d9d9d;
 	min-height: 64px;
 }
 .page-navigation li {
 	float: left;
 	width: auto;
	
 }
 .page-navigation a {
 	    display: block;
   
    line-height: 2em;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    /* text-transform: uppercase; */
    
     
 }
 .MenuButton {
	 color:#E56C69;
 transition: all 0.2s;
  cursor: pointer;
  padding: 0 10px;
  border-left: 2px solid #E56C69;
 }
 .MenuButton:last-child{

border-right: 2px solid #E56C69;  
 }
 
 .MenuButton:hover {
 	color:#FFF7EA;
 	background-color: #777;
	border-top: 2px solid #E56C69;
}
.MenuButton:focus {
	color:#fff;
	    border-image:none;
}
 .LongButton{
	 background-color: #414141;
    line-height: 0.5em;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    color: #fff;
    height: 50px;
    min-width: 100px;
	border-left:none;
	border-right:none;
    border-top: 2px solid #E56C69;
    border-bottom: 5px solid #E56C69;
    transition: all 0.2s;
    cursor: pointer;
    padding: 0 10px;
    padding: 0 10px;
 }
 .LongButton > a {
	 text-decoration:none;
	 color: inherit;
 }
 .LongButton:hover {
	color:#E56C69;
	background-color:#777;
	border-top: 5px solid  #E56C69;
	border-bottom: 2px solid  #E56C69;
	 
 }
 /*LOGIN FORM*/
 .login {
 	padding: 15px 0;
 	float: right;
 }
 .login input[type="text"],
 .login input[type="password"] {
 	height: 40px;
	padding:5px;
 	margin-right: 5px;
 	border: 1px solid transparent;
 	border-radius: 0px;
 	outline: none;
	font-weight: bold;
    
 }
 .login input[type="submit"] {
	 margin-right:3em;
 	    height: 40px;
    padding: 5px 15px;
    border: none;
    border-radius: 0px;
    background-color: #e56c69;
    color: #ffffff;
	font-weight: bold;
	transition: all 0.2s;
  cursor: pointer;
    
	
 }
 .login input[type="submit"]:hover {
 	background-color: #777;
 	color: #E56C69;
 }
 .login input[type="submit"]:focus {
	 color:#fff;
 	border:none;
	border-radius:none;
	border-image:none;
 }

 /*MAIN PART*/
colections > div:first-child {
    padding-left: 0;
    padding-right: 5px;
}
colections > div:last-child {
    padding-left: 0;
    padding-right: 5px;
}
 .colections {
 	overflow: auto;
 }
 .colection-title {
 	padding-bottom: 5px;
 	border-bottom: 1px solid #777;
 	font-size: 36px;
 }
.colection-title small {
	color:#777;
	font-size: 70%;
}
.colection-item-outer {
	display: inline-block;
	float: left;
	padding: 0 5px;
	width: 33.33%;
	box-sizing: border-box;
}
.colection-item {
	border: 1px solid #959595;
}
.colection-item img,
.colection-item video {
	width: 100%;
}
.colection-text {
	padding: 0 20px 20px 20px;
}
.colection-text h3 {
	color:yellowgreen;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.colection-text p {
    height: 80px;
    overflow: hidden;
}

}
.footer {
    background-color: #e56c69;
    color:white;
    padding: 20px 0;
    margin-top: 30px;
}